/*header styles*/

.page-header {
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-bar {
    width: 100%;
    display: table;
    background-color: #F4EBDC;
}

.nav-bar-ul {
    display: table-cell;
    vertical-align: middle;
    list-style-type: none;
    /* margin: 20px; */
    /* padding: 15px; */
    height: 100px;
    width: 100%;
}

.nav-bar-li {
    display: inline-block;
}

.menu-item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    padding: 10px;
    text-decoration: none;  
    text-shadow: 1px 1px 5px #000000; 
}

.nav-link {
    transform: translate(0, 60%);
}

.nav-link:hover {
    color: white;
    background-color: #000000;
}

.menu-item:visited {
    color: #ffffff;
}

.nav-logo {
    height: 100px;
    width: auto;
}

/*hero image style*/

.hero-image {
    background-image: url(/img/palette-with-brush-3.jpg);
    height: 400px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: #000000b0;
    padding: 15px;
    font-family: "Playfair Display", serif;
    
}

body {
    font-family: "Source Sans Pro", sans-serif;
}